@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Common Styles */
* {
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    color: #c1bdb3;
    background-color: #2A2829;
}

html {
    font-size: 62.5%;
    margin: 0;
}
body {
    padding-top: 0px;
    margin-top: -20px;
    padding-bottom: 200px;
    background-color: #2A2829;
}
/* End of Common Styles */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 70px;
}

.workexp-header {
    font-size: 24px;
    margin-top: 30px;
    color: #A89FC1;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.navbar .navigation {
    background-color: #323031;
    width: 100%;
}
.navbar .navbar-brand, .navbar .nav-link {
    color: #c1bdb3;
    font-size: 18px;
}
.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    margin-left: 6px;
    margin-right: 6px;
}

canvas {
    display: block;
} 

.accordion-item .accordion-header {
    color: #5F5B6B;
    background-color: #323031;
}
.accordion-item .accordion-header .accordion-button {
    font-size: 24px;
}
.accordion-item .accordion-body {
    font-size: 17px;
    background-color: #323031;
}

.accordion-item .accordion-header .accordion-button.collapsed {
    background-color: #3d3b3c;
    color: #c1bdb3;
}

.accordion-item .accordion-header .accordion-button:not(.collapsed) {
    background-color: #5f5b6b; 
    color: #c1bdb3;
    border-color: #c1bdb3;
}


.namecard {
    font-size: 72px;
    padding-top: 232px;
    margin-bottom: 400px;
    font-weight: bold;
}
.display-1 {
    font-weight: bold;
}

.welcome-statement {
    margin-top: 40px;
    font-size: 48px;
}
.welcome-intro {
    margin-top: 0px;

}

/* section styling */
.portfolio {
    position: relative;
    background-color: rgba(0,0,0,0);
    z-index: 2;
    text-align: center;
}
.workexp-top {
    margin-bottom: 0px;
}
.workexp-intro {
    font-size: 17px;
    margin-bottom: 0px;
}
.workexp-body {
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 0px;
}
.aboutme-body {
    font-size: 18px;
}